* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.0001);
}

.header {
  display: block;
  height: 78px;
  text-align: center;
}

.nav-list {
  display: inline-block;
  height: 15px;
  margin-top: 31.5px;
}

.nav-list-item {
  display: inline-block;
  text-decoration: none;
  margin-right: 72px;
  height: 27px;
  text-align: center;
  vertical-align:middle;
}

.nav-list-item:nth-child(3) {
  margin-right: 50px;
}
.nav-list-item:last-child {
  margin-right: 0;
}

.nav-list-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #FF0000;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2.7px;
  vertical-align:middle;
  line-height: 18px;
}
.main-image {
  width: 100%;
}

.main {
  box-sizing: border-box;
  text-align: center;
  color:#373737;
}

.main-heading {
  display: inline-block;
  height: 29px;
  line-height: 26.82px;
  width: 774px;
  text-align: left;
  vertical-align:bottom;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px; 
  letter-spacing: 3.3px;
  padding-top: 48px;
 
}

.main-content {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 16px; 
  letter-spacing: 2.4px;
  line-height: 26px;
  margin-top:38px;
  margin-bottom: 28px;
  margin-left: 67.5px;
  margin-right: 67.5px;
  }

  .main-content:nth-child(3){
  margin-top:28px;
  }

  .main-button {
    display: inline-block;
    width: 191px;
    height: 51px;
    margin: 38px auto 42px;
    border-radius: 4px;
    border-color: transparent;
    background-color: #FF0000;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px; 
    line-height:12px ;
    letter-spacing: 1.8px;
  } 

  .footer {
    display: block;
    width: 1070px;
    height: 39px;
    
    margin: 40px auto 29px;
    text-align: center;
    color:#373737;
    
  }

  .footer-content {
    display: inline;
    font-weight: 700;
    font-size: 16px; 
    letter-spacing: 2.4px;
    float: right;
    text-align:center;
  }